# Logfiles
pure_gauge/raw_data/logs/

#Revesibility test
pure_gauge/raw_data/reversibility/

# Analysis data; TODO: potentially indicate specific files/folders
*.csv
*.dat

# Checkpoints
pure_gauge/raw_data/checkpoints/

# Build artefacts
pure_gauge/build/

# Editor data
*~
*.swp

# Python Cache
__pycache__/
*.pyc
.ipynb_checkpoints/

#Python. environement
.venv/

# Validation aderrors: exclude input and output data
validation/aderrors/input/
validation/aderrors/output/